.login-wrapper {
  text-align: center;

  
  input {
    height: 23px;
    width: 160px;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
  }

  button {
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    background: #131351;
  }
  textarea{
    padding:5px
  }
}
